
<body>
    <header>
      
    </header>
    <div class="part2">
      <img class="mam" src="../../../assets/image/123.png" >
      <div class="container">
        <h1>AKAM AKAM Mauranne Agnes Gloria</h1>
       <h2><span>De moi</span></h2>
        <p>La fille que je vais décrire est une personne merveilleuse et unique Son charme et sa grâce attirent l'attention où qu'elle aille. Son sourire radieux illumine les visages qui l'entourent et sa présence apporte une énergie positive. Son intelligence et sa curiosité sont évidentes dans la façon dont elle aborde la vie. Elle est ambitieuse et persévérante, prête à relever tous les défis qui se présentent à elle. Sa passion pour l'apprentissage et la découverte se reflète dans son engagement envers ses études et sa volonté constante de se développer. Elle est dotée d'une grande sensibilité et d'une capacité à comprendre les émotions des autres, 
            ce qui en fait une confidente et une amie précieuse.</p>
          <br>
          <button type="button">contact me for more</button>
          
     
      </div>
    </div>
  
  </body>